<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <h1>All Organizations</h1>

    <table>
      <tr>
        <th>Acronym</th>
        <th>College</th>
        <th>Department</th>
        <th>Scope</th>
        <th>Rating</th>
        <th></th>
      </tr>

      <% @orgs.each do |o| %>
        <tr>
          <td><%= link_to o.acronym, org_path(o) %> </td>
          <td><%= o.college %></td>
          <td><%= o.department %></td>
          <td><%= o.scope %></td>
          <td>  </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
