<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <div class="overlay"></div>

    <!--MAIN CONTENT-->
                      <h1 align = "center"> ORGS TO PICK </h1>
                      <p class="bnr-info" align = "center">A database of organizations in UP Diliman <br> Based from PROFS TO PICK</p>
                          <center>
                          Search Bar <br>
                          <a href="/orgs/new" class="btn btn-signup">Add an Organization</a>
                          </center>

</body>
</html>
